.tb_cr {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.tb_cr__header {
  border-radius: 5px 5px 0 0;
  font-size: 18px;
  background-color: #3e4347;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.tb_cr p {
  margin: 0;
}

.tb_cr a {
  text-align: center;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #ececec;
}

.tb_cr a:hover {
  background-color: #ececec;
  cursor: pointer;
}
