.ads-title {
  color: #595959;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.widget-ads {
  display: block;
  text-align: center;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  max-width: 356px;
  max-height: 361px;
  margin: auto;
}

.ad-widget {
  width: 100%;
}

.widget-ads > img {
  /* max-width: 100%; */
  /* height: auto; */
  vertical-align: middle;
}
