.ads-title {
  color: silver;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.widget-ads {
  display: block;
  text-align: center;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

.widget-ads > img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
