.comments-list-comment {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.comment-author-avatar-container > a {
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.comment-author-avatar-container > a > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-author-name {
  font-size: 18px;
  margin: 0;
  color: #203656;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

.comment-author-name a {
  text-decoration: none;
  color: #203656;
  transition: all 0.3s ease-in-out;
}

.comment-author-name a:hover {
  color: #fe4f70;
}

.comment-date {
  /* color: #8f9bad; */
  color: #595959;
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
}

.comment-text {
  /* color: #8f9bad; */
  color: #595959;
  font-size: 15px;
  line-height: 26px;
  /* min-height: 104px; */
  margin: 0;
}

.comment-text.truncated {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.comment-text-read-more {
  color: #fe4f70;
  font-size: 15px;
  line-height: 26px;
  /* transform: translateY(-50); */
  cursor: pointer;
}

p.comment-awaiting-moderation {
  font-style: italic;
  font-size: 13px;
  margin: 1rem 0;
  /* color: #8f9bad; */
  color: #595959;
}

button.comment-edit-button {
  color: #595959;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 12px;
  line-height: 24px;
  padding: 7px 20px;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 25px;
}

button.comment-delete-button {
  padding: 7px 20px;
  font-size: 12px;
  color: #fff;
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 51%, #fe4f70 100%);
  background-size: 200% auto;
  border: 0;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}

button.comment-delete-button:hover {
  color: #fff;
  background-position: right center;
  text-decoration: none;
  margin: 0;
}

.comment-details footer {
  text-align: left;
  margin: 0;
  padding: 0;
}

.comment-footer-meta {
  height: 38px;
}
