.button_section {
  background-color: var(--color-secondary);
  color: var(--color-pure-white);
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  width: fit-content;
  margin: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button_section a {
  color: var(--color-pure-white);
  font-weight: 400;
}

.button_section svg {
  fill: var(--color-pure-white);
  font-weight: 400;
}
