.fb-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 278px;
}

.fb-video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
