footer.post-footer {
  width: 100%;
}

footer.post-footer .post-bottom {
  border-top: solid 1px #ebebeb;
  padding-top: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #707a88;
  font-size: 16px;
}

footer.post-footer .post-bottom .post-footer-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer.post-footer .post-bottom .share-post-text {
  font-size: 13px;
  color: #4f5569;
}

footer.post-footer .post-bottom .share-post-icons {
  margin-top: 8px;
}

footer.post-footer .post-bottom .share-post-icons > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

footer.post-footer .post-bottom .share-post-icons > ul > li {
  list-style: none;
  height: 26px;
}

footer.post-footer .post-bottom .share-post-icons > ul > li:not(:last-child) {
  padding-right: 16px;
}

footer.post-footer .post-bottom .share-post-icons > ul li svg {
  fill: #203656;
  cursor: pointer;
}

footer.post-footer .post-bottom .share-post-icons > ul li svg:hover {
  fill: #fe4f70;
}

@media (max-width: 768px) {
  footer.post-footer .post-bottom {
    flex-direction: column;
  }

  footer.post-footer .post-bottom .post-footer-socials {
    align-items: center;
  }

  footer.post-footer .post-bottom .share-post-icons {
    margin-bottom: 20px;
  }
}
