.post-content {
  max-width: 700px;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

table tbody td,
table tbody th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table thead td,
table thead th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3e4347;
  color: white;
}
