.post-content {
  max-width: 700px;
  margin: auto;
}

.post-content ul {
  list-style-type: circle;
  padding-left: 35px;
  margin: 0 auto 16px;
}

.post-content ul li {
  /* margin-top: 5px;
  margin-bottom: 5px; */
  line-height: 25px;
}

.post-content ol {
  list-style-position: inside;
  /* Start counter */
  counter-reset: list;
  padding-left: 16px;
  margin: 0 auto 16px;
}

.post-content ol li {
  /* font-family: "Raleway", sans-serif; */
  /* Increment counter on each list item */
  margin-top: 5px;
  margin-left: 5px;
  counter-increment: list;
}

/* .post-content ol li::marker { */
/* font-family: "Sigmar One", cursive; */
/* Use counter to display the current number */
/* content: "Step " counter(list) ". "; */
/* } */

/* .post-content blockquote::before {
  content: open-quote;
}

.post-content blockquote::after {
  content: close-quote;
}

.post-content blockquote::before,
blockquote::after {
  opacity: 0.25;
  padding: 0 10px;
  font-size: 3em;
} */

.post-content blockquote {
  margin: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #fff3ee;
  border-left: 10px solid #ff9568;
  max-width: 660px;
}

.post-content blockquote p {
  color: #ff4d00;
  font-family: "Merriweather", serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 30px;
}

.post-content a {
  text-decoration: none;
  color: var(--font-color-secondary);
  font-weight: 700;
}

.post-content .blockquote_wrapper {
  display: grid;
  place-items: center;
  color: #474747;
}

.table_container {
  overflow-x: auto;
  border: 1px solid #eee;
  margin-top: 16px;
  margin-bottom: 16px;
}

.post_table {
  border-collapse: collapse;
  width: 100%;
}

.post_table tbody td,
.post_table tbody th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.post_table thead td,
.post_table thead th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.post_table tbody p,
.post_table tbody p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.post_table thead p,
.post_table thead p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.post_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.post_table tr:hover {
  background-color: #ddd;
}

.post_table th,
.post_table th p {
  text-align: center;
  background-color: #3e4347;
  color: white;
}

.highlighted_cell {
  background-color: #3e4347;
  color: white;
}

.post_table caption {
  font-weight: bold;
  padding: 16px;
}

.post_table caption p {
  padding: 0;
  margin: 0;
}

.post_table svg {
  fill: currentColor;
}

.post-content hr {
  width: 90%;
  margin: auto;
  border: solid #efefef;
  border-width: 1px 0 0;
  box-sizing: content-box;
  display: block;
}

.post-content p {
  color: #2e383f;
  font-family: "dm sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em;
  margin-bottom: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.post-content p img {
  width: 100%;
}

.post-content h1,
h2,
h3,
h4,
h5 {
  font-size: 24px;
  line-height: 1.4em;
  font-family: Merriweather;
  margin: 15px 0 2px;
  color: #2e383f;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.post-content h2 {
  color: #2e383f;
  margin: 30px 0;
  text-align: left;
}

.post-content h3 {
  text-align: center;
  font-weight: 600;
  margin: 60px 0 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.post-content h4 {
  font-weight: 600;
  margin: 30px 0 20px;
  text-align: center;
  font-size: 20px;
  line-height: 1.3em;
}

.post-content h5 {
  text-align: center;
  margin-bottom: 15px;
  line-height: 1.3em;
  font-size: 20px;
  font-weight: 600;
}
