.hero-content {
  z-index: 2;
  position: absolute;
  color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.hero-content-left,
.hero-content-right {
  padding: 20px;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .hero-content {
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding-left: 50px;
  }

  .hero-content-left {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 600px;
  }

  .hero-content-right {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    align-self: flex-end;
  }
}

@media only screen and (max-width: 991px) {
  .hero-content-left {
    max-height: calc((100vh - 88.03px) / 2);
    overflow: hidden;
  }
  .hero-content-right {
    max-height: calc((100vh - 88.03px) / 2);
    /* overflow: hidden; */
  }
}
