.hero-content {
  z-index: 2;
  position: absolute;
  color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  /* padding-left: 100px; */
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 100px; */
  width: 100%;
}

.hero-content-left {
  /* width: 40%; */
  flex-basis: 40%;
}
.hero-content-right {
  /* width: 60%;
  margin-right: 50px; */
  flex-grow: 1;
  flex-shrink: 1;
}

.hero-content-left h1 {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 20px;
}

.hero-content-left p {
  /* max-width: 500px; */
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.hero-content-left button {
  cursor: pointer;
  padding: 12px 36px;
  color: #fff;
  border: 0;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  background: #fe4f70;
  background: -webkit-linear-gradient(
    left,
    #fe4f70 0%,
    #ffa387 51%,
    #fe4f70 100%
  );
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 51%, #fe4f70 100%);
  background-size: 200% auto;
}

.hero-content-left button:hover {
  background-position: right center;
}

.hero-content-left button .button-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
