.newsletter-headline {
  font-size: 15px;
  font-weight: 700;
  color: #203656;
  display: block;
  text-align: center !important;
  margin-bottom: 16px;
}

.email-input {
  margin-bottom: 8px;
}

.email-input input {
  font-family: "Roboto", sans-serif;
  display: block;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  padding: 8px 24px;
  font-size: 14px;
  line-height: 1.6;
  color: #8f9bad;
  background-color: #fff;
  background-image: none;
  border: solid 1px #ebebeb;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.email-input input:focus {
  border-color: #fe4f70;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #212529;
  background-color: #fff;
}

.newsletter-button {
  cursor: pointer;
  padding: 9.5px 36px;
  width: 100%;
  color: #fff;

  border: 0;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  transition: all 0.3s ease-in-out;
  line-height: 1.5;
  text-decoration: none;
  user-select: none;
  background: #fe4f70;
  background: -webkit-linear-gradient(
    left,
    #fe4f70 0%,
    #ffa387 51%,
    #fe4f70 100%
  );
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 51%, #fe4f70 100%);
  background-size: 200% auto;
}

.newsletter-button:hover {
  background-position: right center;
}

.newsletter-button:focus:not(:focus-visible) {
  outline: 0;
}

.newsletter-privacy {
  font-size: 13px;
  display: block;
  text-align: center !important;
  margin-top: 16px !important;
  color: #8f9bad;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
}

.newsletter-privacy a {
  color: #fe4f70;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.newsletter-privacy a:hover {
  color: #203656;
}
