.comment-form {
  padding: 30px;
  border: solid 1px #ebebeb;
  border-radius: 10px !important;
}

.comment-form p,
.comment-form * {
  color: #595959;
  /* color: #8f9bad; */
}

.comment-form-field {
  display: flex;
  flex-direction: column;
}

.comment-form-field input,
.comment-form-field textarea {
  border: solid 1px #ebebeb;
  border-radius: 10px !important;
  display: block;
  border-radius: 25px;
  width: 100%;
  padding: 8px 24px;
  font-size: 14px;
  line-height: 1.6;
  /* color: #8f9bad; */
  color: #595959;
  background-color: #fff;
  background-image: none;
  border: solid 1px #ebebeb;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.comment-form-field input:focus,
.comment-form-field textarea:focus {
  outline: none;
  border-color: #fe4f70;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.comment-form-author,
.comment-form-email,
.comment-form-website {
  max-width: 50%;
}

.comment-form-cookies-consent input {
  margin-right: 5px;
}

.form-submit input {
  color: #fff;
  padding: 9.5px 36px;
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 51%, #fe4f70 100%);
  background-size: 200% auto;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 1.6;
}

.form-submit input:hover {
  background-position: right center;
}

@media only screen and (max-width: 700px) {
  .comment-form-author,
  .comment-form-email,
  .comment-form-website {
    max-width: 100%;
  }
}
