.hotel_card {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  margin-top: 10px;
}

.hotel_card div.clear {
  clear: both;
}

.hotel_card h5 {
  font-size: 20px;
  font-weight: 700;
  color: #2e383f;
}

@media only screen and (min-width: 600px) {
  .hotel_card p img {
    float: left;
    max-width: 286px;
    margin-right: 16px;
  }
}

.hotel_price {
  font-style: italic;
  margin-left: 10px;
  color: #2e383f;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em;
}

.hotel_card_cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel_card_cta div.button {
  margin-top: 0;
}
