.hotel_card {
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  margin-top: 10px;
}

.hotel_card h5 {
  font-size: 20px;
  font-weight: 700;
  color: #2e383f;
}

.hotel_card_body {
  display: flex;
  align-items: flex-start;
}

.hotel_card_image_section {
  display: flex;
  flex-direction: column;
}

.hotel_card_body p img {
  margin: 4px 14px 2px 0;
  border-radius: 5px;
  width: 286px;
  height: auto;
  aspect-ratio: auto 200 / 150;
}

/* .hotel_card p img {
  float: left;

  max-width: 220px;
} */

.hotel_price {
  font-style: italic;
  margin-left: 10px;
  color: #2e383f;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em;
}

.hotel_card_cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
