.search-popup {
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
}

.search-popup.active {
  opacity: 1;
  visibility: visible;
  animation: growOut 500ms ease-in-out forwards;
}

@keyframes growOut {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn-close {
  position: absolute;
  right: 33px;
  top: 23px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-close svg {
  fill: #79889e;
}

.search-popup .search-content {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 650px;
  transform: translate(-50%, -50%);
}

.search-popup .search-content h3 {
  text-align: center;
  margin-top: 0 !important;
  margin-bottom: 24px !important;
  color: #203656;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 39px;
}

.search-popup .search-content form {
  display: flex !important;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  margin-top: 0em;
  width: 100%;
}
.search-popup .search-content form .search-inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.search-popup .search-content form .search-input input {
  display: block;
  width: 100%;
  border-radius: 25px;
  padding: 8px 24px;
  font-size: 14px;
  line-height: 1.6;
  color: #8f9bad;
  background-color: #fff;
  background-image: none;
  border: solid 1px #ebebeb;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 8px;
  margin-top: 2px;
}

.search-popup .search-content form .search-input {
  display: flex;
  flex-direction: column;
}

.search-popup .search-content form .search-checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  color: #595959;
  align-items: center;
  justify-content: center;
}

.search-popup .search-content form .search-checkbox label {
  margin-left: 10px;
}

.search-popup .search-content form input:hover {
  border-color: #fe4f70;
  outline: 0;
  box-shadow: none;
  color: #212529;
  background-color: #fff;
}

.search-popup .search-content form input:focus-visible {
  border-color: #fe4f70;
  outline: 0;
  box-shadow: none;
  color: #212529;
  background-color: #fff;
}

.search-popup .search-content form button {
  border: 0;
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 13px 40px;
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 51%, #fe4f70 100%);
  background-size: 200% auto;
}

.search-popup .search-content form button:hover {
  background-position: right center;
}

.search-popup .search-content form button svg {
  fill: #fff;
}

@media only screen and (max-width: 767px) {
  .search-popup .search-content {
    padding: 0 20px;
    width: 100%;
  }
}

.search-form-error-message {
  height: 18px;
  font-size: 14px;
  padding-left: 8px;
  color: #ff0000;
}
