.title_stay {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold;
  font-size: 14px; */
  margin-top: 16px;
  margin-bottom: 0;
}

.title_stay p {
  /* display: block; */
  font-family: Merriweather;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  /* margin-top: 30px; */
}
