.hero-slider-container {
  width: 100%;
  height: 100%;
}

.hero-slider {
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slide.prev {
  opacity: 0;
  transform: scale(5);
  filter: blur(0px);
}

.slide.current {
  opacity: 1;
  transform: scale(1);
  filter: blur(0px);
}

.slide.next {
  opacity: 0;
  transform: scale(5);
  filter: blur(0px);
}
