.section2-caption h1 {
  font-weight: 700;
  font-size: 56px;
  height: 56px;
  position: relative;
  overflow: hidden;
}

/* @media screen and (min-width: 769px) and (min-height: 601px) {
  h1 {
    font-size: 6rem;
  }
} */

/* .section2-caption h1 > div {
  height: 72px;
} */

.section2-caption-moving-element {
  position: absolute;
  left: 0;
  transition: top 0.5s linear;
}

.section2-caption .hero-caption-paragraph {
  margin-top: 20px;
  font-size: 12px;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  max-height: 96px;
}

.section2-caption-button-container {
  margin-top: 20px;
  height: 43px;
  overflow: hidden;
  position: relative;
}

.section2-caption-button-container > button {
  cursor: pointer;
  padding: 12px 36px;
  color: #fff;
  border: 0;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  background: #fe4f70;
  background: -webkit-linear-gradient(
    left,
    #fe4f70 0%,
    #ffa387 51%,
    #fe4f70 100%
  );
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 51%, #fe4f70 100%);
  background-size: 200% auto;
  display: block;
}

.section2-caption-button-container > button:hover {
  background-position: right center;
}

@media screen and (max-width: 600px) {
  .section2-caption h1 {
    font-size: 10vw;
    height: 10vw;
  }
}

@media screen and (max-height: 510px) {
  .section2-caption h1 {
    font-size: 7vh;
    height: 7vh;
  }

  .section2-caption-button-container {
    margin-top: 10px;
    height: 31px;
  }

  .section2-caption-button-container > button {
    padding: 6px 18px;
    font-size: 12px;
  }
}

/* .section2-caption-button-container button .button-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */
