.hero-caption h1 {
  font-weight: 700;
  font-size: 64px;
  height: 64px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

/* .hero-caption h1 > div {
  height: 72px;
} */

.hero-caption-moving-element {
  position: absolute;
  left: 0;
  transition: top 0.5s linear;
}

.hero-caption .hero-caption-paragraph {
  font-size: 14px;
  line-height: 24px;
  /* height: fit-content;
  display: flex;
  align-items: stretch; */
  height: 78px;
  overflow: hidden;
  position: relative;
}

.hero-caption-button-container {
  margin-top: 20px;
  height: 43px;
  overflow: hidden;
  position: relative;
}

.hero-caption-button-container > button {
  cursor: pointer;
  padding: 12px 36px;
  color: #fff;
  border: 0;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  background: #fe4f70;
  background: -webkit-linear-gradient(
    left,
    #fe4f70 0%,
    #ffa387 51%,
    #fe4f70 100%
  );
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 51%, #fe4f70 100%);
  background-size: 200% auto;
  display: block;
}

.hero-caption-button-container > button:hover {
  background-position: right center;
}

/* .hero-caption-button-container button .button-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */
