.toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 48px;
  padding: 0 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: flex;
  align-items: center;
}

.toast.success {
  background: green;
  color: white;
}

.toast.error {
  background: red;
  color: white;
}

.toast-close-button {
  margin-left: 10px;
  cursor: pointer;
}

.toast-close-button svg {
  fill: #ffffff;
}
