.slick-slider-container {
  width: 100%;
  /* overflow: hidden; */
}

.slider2-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: flex-start; */
}

.slider2-wrapper {
  position: relative;
}

.slide2 {
  position: absolute;
  top: 0;
  height: 100%;
  transition: left 1.5s ease-out;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5px;
}

.slide2-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.slick-slider-btns {
  /* position: absolute; */
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 10px;
  /* padding-left: 20px; */
}

.slick-slider-btn-next,
.slick-slider-btn-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.slick-slider-btn-prev {
  left: 12px;
  margin-right: 10px;
}

.slick-slider-btn-next {
  right: 12px;
}

.progress-bar-container {
  height: 2px;
  background-color: #fff;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.progress-bar {
  height: 100%;
  background-color: #fe4f70;
  transition: all 1.5s linear;
}

.progress-bar-index {
  font-size: 24px;
}
