.slick-slider-container {
  width: 100%;
}

.slider2-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1116;
}

.slider2-wrapper {
  position: relative;
  width: 190px;
  height: 230px;
}

.slide2 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 170px;
  transition: left 1.5s ease-out;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5px;
  margin-right: 20px;
  overflow: hidden;
  cursor: pointer;
}

.slide2 a {
  color: #fff;
}

.transparent {
  opacity: 0;
}

.left-0 {
  left: 0%;
}

.left-100 {
  left: 100%;
}

.left-200 {
  left: 200%;
}

.left-300 {
  left: 300%;
}

.left-400 {
  left: 400%;
}

.left-500 {
  left: 500%;
}

.width-16 {
  width: 16.666666666666664%;
}

.width-33 {
  width: 33.33333333333333%;
}

.width-50 {
  width: 50%;
}

.width-66 {
  width: 66.66666666666666%;
}

.width-83 {
  width: 83.33333333333334%;
}

.width-100 {
  width: 100%;
}

@media screen and (max-height: 700px) and (max-width: 991px) {
  .slider2-wrapper {
    height: 190px;
    width: 160px;
  }

  .slide2 {
    height: 100%;
    width: 140px;
  }

  .slider2-container {
    width: calc((20vh + 16px) * 6);
  }
}

.slide2-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 12px;
}

.slide2-content h2 {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.slide2-content img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide2-content p {
  position: absolute;
  margin: 8px;
  bottom: 0;
  left: 0;
}

.slick-slider-btns {
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 10px;
  padding-left: 0px;
}

.slick-slider-btn-next,
.slick-slider-btn-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.slick-slider-btn-prev {
  left: 12px;
  margin-right: 10px;
}

.slick-slider-btn-next {
  right: 12px;
}

.progress-bar-container {
  height: 2px;
  background-color: #fff;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.progress-bar {
  height: 100%;
  background-color: #fe4f70;
  transition: all 1.5s linear;
}

.progress-bar-index {
  font-size: 24px;
}

@media screen and (max-width: 991px) {
  .slide2-content {
    font-size: 10px;
  }
}

@media screen and (max-height: 700px) {
  .slick-slider-btns {
    padding-top: 10px;
  }

  .slick-slider-btn-next,
  .slick-slider-btn-prev {
    width: 40px;
    height: 40px;
  }
}
