.read_more_card_title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 15px;
  vertical-align: baseline;
  max-width: 400px;
}

.read_more_card a {
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* height: 90px; */
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0;
  /* width: 100%; */
  max-width: 500px;
  padding-right: 10px;
  transition: box-shadow 0.5s;
}

.read_more_card a:hover {
  box-shadow: 0 0 3px #5c5c5c;
}

.read_more_card a:focus {
  box-shadow: 0 0 3px #fcb900;
}

.read_more_card a img {
  /* height: 90px; */
  /* width: 120px; */
  border-radius: 5px;
  display: block;
  text-align: center;
  max-width: 130px;
  height: auto;
  flex: 1 0 120px;
  margin: 0;
  padding: 0;
}

.read_more_card_content {
  display: inline-flex;
  align-items: center;
  line-height: 22px;
  padding: 10px;
  color: #2e383f;
  font-weight: 300;

  /* flex: 1 1 300px; */

  /* overflow: hidden; */
  /* width: 100px; */
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; */
  /* text-overflow: ellipsis; */
}

.read_more_card_svg_wrapper {
  position: relative;
  /* width: 40px; */
  height: 80px;
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 40px;
}

.read_more_card_svg_wrapper svg {
  fill: #60686d;
  height: 78px;
  width: 31px;
  position: absolute;
}

.read_more_card_svg_wrapper svg path {
  stroke: #fff;
  stroke-width: 1.5px;
}
