.read_more_card_title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 15px;
  vertical-align: baseline;
  max-width: 400px;
}

.read_more_card a {
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  display: flex;
  align-items: stretch;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0;
  max-width: 500px;
  padding-right: 10px;
  transition: box-shadow 0.5s;
}

.read_more_card a:hover {
  box-shadow: 0 0 3px #5c5c5c;
}

.read_more_card a:focus {
  box-shadow: 0 0 3px #fcb900;
}

.read_more_card a span.read_more_card_image_placeholder {
  display: block;
  flex: 1 0 90px;

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23090f161a"><title>camera</title><path d="M0 6c0-1.1 0.9-2 2-2h3l2-2h6l2 2h3c1.105 0 2 0.895 2 2v0 10c0 1.105-0.895 2-2 2v0h-16c-1.105 0-2-0.895-2-2v0-10zM10 16c2.761 0 5-2.239 5-5s-2.239-5-5-5v0c-2.761 0-5 2.239-5 5s2.239 5 5 5v0zM10 14c-1.657 0-3-1.343-3-3s1.343-3 3-3v0c1.657 0 3 1.343 3 3s-1.343 3-3 3v0z"></path></svg>');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.read_more_card_content {
  display: inline-flex;
  align-items: center;
  line-height: 22px;
  padding: 10px;
  color: #2e383f;
  font-weight: 300;
}

.read_more_card_svg_wrapper {
  position: relative;
  height: 80px;
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 40px;
}

.read_more_card_svg_wrapper svg {
  fill: #60686d;
  height: 78px;
  width: 31px;
  position: absolute;
}

.read_more_card_svg_wrapper svg path {
  stroke: #fff;
  stroke-width: 1.5px;
}
