.read_more_card_title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 15px;
  vertical-align: baseline;
  max-width: 400px;
}

.read_more_card a {
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 90px;
  margin-bottom: 15px;
  margin-right: 1%;
  overflow: hidden;
  padding: 0;
  /* position: relative; */
  /* transition: box-shadow 0.5s; */
  width: 100%;
}

.read_more_card a img {
  height: 90px;
  left: 0;
  /* position: absolute; */
  width: 120px;
  border-radius: 5px;
  display: block;
  /* margin: auto; */
  text-align: center;
}

.read_more_card a span {
  height: 90px;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  color: #2e383f;
  box-sizing: border-box;
  vertical-align: middle;
  font-weight: 300;
}

.read_more_card a .icon_svg {
  display: block;
  fill: #cbcbcb;
  margin-left: 10px;
  margin-right: 10px;
  /* viewbox: 0 0 100 100; */
  /* height: 60px;
  width: 60px; */
}
