.text_container {
  /* background-color: #f0f2f7; //original */
  background-color: #f1f8ff;
  border-radius: 5px;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 32px;
}

.text_container__title {
  font-weight: 700;
  font-size: large;
  display: block;
  margin-bottom: 15px;
}

/* .text_container * {
  line-height: 26px;
} */

.text_container p {
  margin: 0;
}

.text_container img {
  max-width: 24px;
  max-height: 24px;
  transform: translateY(6px);
}

.text_container iframe {
  width: 100%;
}

.text_container ul li::marker {
  /* color: #fe4f70; */
  color: #2724ff;
}
