@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-light-webfont.woff2") format("woff2"),
    url("poppins-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-lightitalic-webfont.woff2") format("woff2"),
    url("poppins-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-regular-webfont.woff2") format("woff2"),
    url("poppins-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-italic-webfont.woff2") format("woff2"),
    url("poppins-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-medium-webfont.woff2") format("woff2"),
    url("poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-mediumitalic-webfont.woff2") format("woff2"),
    url("poppins-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-semibold-webfont.woff2") format("woff2"),
    url("poppins-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-semibolditalic-webfont.woff2") format("woff2"),
    url("poppins-semibolditalic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-bold-webfont.woff2") format("woff2"),
    url("poppins-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-bolditalic-webfont.woff2") format("woff2"),
    url("poppins-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-extrabold-webfont.woff2") format("woff2"),
    url("poppins-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("poppins-extrabolditalic-webfont.woff2") format("woff2"),
    url("poppins-extrabolditalic-webfont.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
