.slider2-container {
  width: 100%;
  overflow: hidden;
}

.slider2-wrapper {
  position: relative;
  height: 200px;
  width: 170px;
}

.slide2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: left 1s ease-out;
  background-size: cover;
  background-position: center;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
