.gift_block {
  border-bottom: 1px solid #ececec;
  padding-bottom: 70px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.gift_block h5 {
  color: #15a7ca;
  font-size: 20px;
  font-weight: 700;
  margin-top: 60px;
  text-align: center;
}

.gift_block img {
  display: block;
  margin-bottom: 15px;
  min-height: 45px;
  border-radius: 20px;
  max-height: 300px;
  max-width: 100%;
  padding: 10px 10px 4px;
  width: auto;
}

.gift_block ol {
  list-style: none;
  margin: auto;
  max-width: 350px;
  text-align: left;
  color: #2e383f;
  font-family: Poppins, Arial, Tahoma, Verdana, FreeSans, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.gift_block ol li {
  counter-increment: list;
  padding-bottom: 24px;
  line-height: 30px;
  position: relative;
  transform: translateX(28px);
  padding-right: 28px;
  display: flex;
  align-items: flex-start;
}

.gift_block ol li::before {
  font: bold 24px/30px Montserrat, Roboto, Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  content: counter(list);
  width: 32px;
  height: 32px;
  color: #fdfdfd;
  background: #ff7235 linear-gradient(to bottom right, #ff7235 25%, #ffedbc);
  text-shadow: 0 0 2px #ff7235;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transform: translateX(-50px);
}

.gift_block ol li::after {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #ff7235;
  z-index: -1;
  border-top-left-radius: 3px;
  transform: translateX(-50px);
}
