.banner_section {
  width: 100%;
  background-image: url("/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_section h1 {
  font-size: 60px;
  color: var(--color-pure-white);
  font-weight: 700;
  text-align: center;
}

.banner_section p {
  color: var(--color-pure-white);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.banner_section__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 2rem;
}

.banner_section__form {
  background-color: var(--color-pure-white);
  width: 100%;
  margin: 2rem;
  padding: 12px 12px 12px 24px;
  border-radius: 70px;
}

.banner_section__form form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form_control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.form_control_entry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 16px;
  line-height: 26px;
  gap: 8px;
}

.form_control_entry label {
  font-weight: 700;
}

.form_control_entry input {
  font-weight: 400;
  border: none;
}

.form_control_entry input:focus {
  border: none;
  outline: none;
}

.form_control__icon {
  width: 24;
  height: 24;
}

.form_date_range {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_button button {
  background: var(--color-dark-blue, #3b71fe);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 70px;
  display: flex;
  align-items: center;
  height: 60px;
  transition: all 0.2s;
  padding: 15px 35px;
  margin-left: auto;
  cursor: pointer;
  border-color: var(--link-color, #5191fa) !important;
  border: none;
  box-shadow: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  outline: none;
  -webkit-appearance: button;
  appearance: button;
}
