.home-container {
  width: 100vw;
}

.home-section {
  scroll-margin-top: 80px;
  width: 100vw;
  height: calc(100vh - 87px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-buttons {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 7;
}
