.popular-posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.popular-posts-list li {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.popular-posts-list li:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  background: #ebebeb;
  background: -webkit-linear-gradient(right, #ebebeb 0%, transparent 100%);
  background: linear-gradient(to left, #ebebeb 0%, transparent 100%);
}

.post-details {
  flex-wrap: wrap;
  flex: 1;
}

div.post-thumbnail {
  position: relative;
}

div.post-thumbnail::before {
  counter-increment: my-awesome-counter;
  content: counter(my-awesome-counter);
  color: #fff;
  display: block;
  border: solid 2px #fff;
  border-radius: 50%;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  height: 24px;
  line-height: 22px;
  left: 0;
  text-align: center;
  top: -10px;
  position: absolute;
  width: 24px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to top, #fe4f70 0%, #ffa387 100%);
  z-index: 1;
}

.post-thumbnail-inner {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.post-thumbnail-inner > div {
  transition: transform 0.3s ease-in-out;
}

.post-thumbnail-inner > div:hover {
  transform: scale(1.1);
}

.post-details a {
  text-decoration: none;
  outline: 0;
}

.post-title {
  margin: 0;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #203656;
  font-weight: 700;
  line-height: 1.4;
  transition: color 0.2s ease-in-out;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post-title:hover {
  color: #fe4f70;
}

.post-date {
  margin: 0;
  /* color: #8f9bad; */
  color: #595959;
  font-size: 14px;
  margin-top: 4px;
}
