.contact-form {
  padding: 20px;
  padding-top: 7px;
}

.contact-form-first-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* .contact-form-first-row > :first-child {
  margin-right: 20px;
} */

.contact-form-first-row .contact-form-field {
  flex: 1 1 calc(50% - 10px);
}

@media screen and (max-width: 768px) {
  .contact-form-first-row .contact-form-field {
    flex: 0 0 100%;
  }

  .contact-form-first-row {
    gap: 12px;
  }
}

.contact-form > p,
.contact-form > div {
  color: #595959;
  margin-bottom: 12px;
}

.contact-form > div label {
  color: #595959;
  padding: 8px;
}

.contact-form-field {
  display: flex;
  flex-direction: column;
}

.contact-form-field input,
.contact-form-field textarea {
  border: solid 1px #ebebeb;
  display: block;
  border-radius: 25px;
  width: 100%;
  padding: 8px 24px;
  font-size: 14px;
  font-family: inherit;
  line-height: 1.6;
  color: #595959;
  background-color: #fff;
  border: solid 1px #ebebeb;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-form-field input::placeholder,
.contact-form-field textarea::placeholder {
  color: #8f9bad;
}

.contact-form-field input.error,
.contact-form-field textarea.error {
  border-color: #ff0000;
}

.contact-form-field input:focus,
.contact-form-field textarea:focus {
  outline: none;
  border-color: #fe4f70;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* .contact-form-author,
.contact-form-email,
.contact-form-website {
  max-width: 50%;
} */

.contact-form-cookies-consent input {
  margin-right: 5px;
}

.form-submit input {
  color: #fff;
  padding: 9.5px 36px;
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 51%, #fe4f70 100%);
  background-size: 200% auto;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 1.6;
}

.form-submit input:hover {
  background-position: right center;
}

/* @media only screen and (max-width: 700px) { */
/* .contact-form-author,
  .contact-form-email,
  .contact-form-website {
    max-width: 100%;
  } */
/* } */

.contact-form-error-message {
  color: #ff0000;
  height: 18px;
  font-size: 14px;
  padding-left: 8px;
}
