.main-header {
  transform: translateY(0);
  background-color: #fff;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  /* border-bottom: solid 1px #ebebeb; */
  margin: 0;
  transition: 0.3s transform cubic-bezier(0.3, 0.73, 0.3, 0.74);
  z-index: 4;
  width: 100%;
}

/* .main-header::after {
  background-color: rgba(255, 255, 255, 0);
  content: "";
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
} */

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding-left: 12px;
  padding-right: 12px;
}

.logo > a {
  display: flex;
  align-items: center;
  color: #203656;
  text-decoration: none;
  outline: none;
  font-size: 26px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo > a > svg {
  fill: linear-gradient(to top, #ffa387 0%, #fe4f70 51%, #ffa387 100%);
}

.main-header ul {
  flex-basis: auto;
  flex-grow: 1;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding-left: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .main-header ul {
    display: none;
  }
  .navbar {
    justify-content: space-between;
    /* padding-left: 0;
    padding-right: 0; */
  }
}

.nav-link {
  display: block;
  /* color: #79889e; */
  color: #595959;
  /* color: #203656; */
  text-decoration: none;
  outline: none;
  padding: 7.024px 20.8px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-link:hover {
  color: #203656;
}

.nav-link.active {
  color: #fff;
  border-radius: 25px;
  background: #fe4f70;
  background: -webkit-linear-gradient(left, #fe4f70 0%, #ffa387 100%);
  background: linear-gradient(to right, #fe4f70 0%, #ffa387 100%);
}

.nav-link.active:hover {
  background-position: right center;
  cursor: pointer;
}

.header-buttons {
  margin-left: 50px;
}

.header-buttons button {
  color: #fff;
  border: 0;
  border-radius: 50%;
  background: #ffa387;
  background: -webkit-linear-gradient(
    bottom,
    #ffa387 0%,
    #fe4f70 51%,
    #ffa387 100%
  );
  background: linear-gradient(to top, #ffa387 0%, #fe4f70 51%, #ffa387 100%);
  background-size: auto 200%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  line-height: 39px;
  text-align: center;
  vertical-align: middle;
  width: 37px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-buttons button:hover {
  background-position: bottom center;
  cursor: pointer;
}

.header-buttons button svg {
  fill: #fff;
}

.burger-icon:before,
.burger-icon:after {
  content: "";
  background: #fff;
  display: block;
  margin: auto;
  height: 1px;
  width: 15px;
}

.burger-icon:before {
  margin-bottom: 6px;
}

.burger-icon:after {
  margin-top: 6px;
}
