header {
  height: 91px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  align-self: center;
}

.header .logo a {
  color: var(--font-color-primary);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 200px;
}

.header ul {
  list-style: none;
  flex: 1;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.header li {
  display: inline-block;
  /* margin: 0 0 0 4rem; */
  /* padding: 0; */
}

.header li a {
  color: var(--font-color-primary);
  text-decoration: none;
}

.header ul li a:hover {
  color: var(--font-color-secondary);
}

.header li a:visited {
  color: var(--font-color-primary);
  text-decoration: underline;
}
