.side-menu {
  background: #fff;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 40px;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  z-index: 6;
  box-shadow: -4px 0px 20px rgba(32, 54, 86, 0.1);
  transition: all 0.3s ease-in-out;
}

.btn-close {
  position: absolute;
  right: 33px;
  top: 23px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-close svg {
  fill: #79889e;
}

.side-menu-logo {
  margin-bottom: 80px;
  margin-top: 50px;
  width: 100%;
  font-size: 26px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.side-menu nav {
  width: 100%;
}

.side-menu nav ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  color: #203656;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

.side-menu nav ul li::after {
  content: "";
  display: block;
  height: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  background: #ebebeb;
  background: -webkit-linear-gradient(left, #ebebeb 0%, transparent 100%);
  background: linear-gradient(to right, #ebebeb 0%, transparent 100%);
}

.side-menu nav ul li a {
  text-decoration: none;
  outline: none;
  color: #203656;
}
