.page-content {
  margin-top: 24px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.page-content ul {
  list-style-type: circle;
  padding-left: 35px;
  margin: 0 auto 16px;
}

.page-content ul li {
  line-height: 32px;
}

.page-content ol {
  list-style-position: inside;
  counter-reset: list;
  padding-left: 16px;
  margin: 0 auto 16px;
}

.page-content ol li {
  margin-top: 5px;
  margin-left: 5px;
  counter-increment: list;
}

.page-content blockquote {
  margin: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  background-color: #fff3ee;
  border-left: 10px solid #ff9568;
  max-width: 660px;
}

.page-content blockquote p {
  color: #a2011e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 32px;
}

.page-content a {
  color: #b20121;
}

.page-content a:hover {
  color: #203656;
}

.page-content .blockquote_wrapper {
  display: grid;
  place-items: center;
  color: #474747;
}

.table_container {
  overflow-x: auto;
  border: 1px solid #eee;
  margin-top: 16px;
  margin-bottom: 16px;
}

.post_table {
  border-collapse: collapse;
  width: 100%;
}

.post_table tbody td,
.post_table tbody th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.post_table thead td,
.post_table thead th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.post_table tbody p,
.post_table tbody p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.post_table thead p,
.post_table thead p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.post_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.post_table tr:hover {
  background-color: #ddd;
}

.post_table th,
.post_table th p {
  text-align: center;
  background-color: #3e4347;
  color: white;
}

.highlighted_cell {
  background-color: #3e4347;
  color: white;
}

.post_table caption {
  font-weight: bold;
  padding: 16px;
}

.post_table caption p {
  padding: 0;
  margin: 0;
}

.post_table svg {
  fill: currentColor;
}

.page-content hr {
  width: 90%;
  margin: auto;
  border: solid #efefef;
  border-width: 1px 0 0;
  box-sizing: content-box;
  display: block;
}

.page-content p {
  color: #203656;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: left;
}

.page-content p img {
  width: 100%;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
  font-size: 24px;
  line-height: 1.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 16px;
  color: #2e383f;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.page-content h1 {
  margin-left: 0px;
  padding-left: 0px;
}

.page-content h1 a,
.page-content h2 a,
.page-content h3 a,
.page-content h4 a,
.page-content h5 a {
  color: #2e383f;
}

.page-content h2 {
  color: #2e383f;
  margin: 30px 0px;
  font-weight: 700;
  text-align: left;
}

.page-content h2:first-child {
  margin-top: 0;
}

.page-content h3 {
  text-align: left;
  font-weight: 600;
  margin: 30px 0px 20px;
}

.page-content h4 {
  font-weight: 600;
  margin: 30px 16px 20px;
  text-align: left;
  font-size: 20px;
  line-height: 1.3em;
}

.page-content h5 {
  text-align: left;
  margin: 16px;
  line-height: 1.3em;
  font-size: 20px;
  font-weight: 600;
}
