.widget-container {
  counter-reset: my-awesome-counter;
  border-radius: 10px !important;
  border: solid 1px #ebebeb;
  padding: 35px 30px;
  margin-bottom: 40px;
}

.widget-header {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center !important;
}

.widget-header h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.4;
}
