/* use this article: https://blog.bitsrc.io/image-perspective-distortion-with-javascript-and-html-canvas-14627233623d*/

.hero-slider-container {
  width: 100%;
  height: 100%;
}

.hero-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-slider-btn-next,
.hero-slider-btn-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.hero-slider-btn-prev {
  left: 12px;
}

.hero-slider-btn-next {
  right: 12px;
}

/* .hero {
  background-image: url("/images/place6.jpg");
  background-size: cover;
  background-position: center;
  animation: slide-in 1s forwards ease-out;
  transform-origin: center center;
} */

/* @keyframes slide-in {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(20);
  }

  100% {
    transform: scale(1);
  }
} */
