.button {
  /* color: #fff; */
  font-size: 16px;
  font-weight: 400;
  width: fit-content;
  margin: 15px 5px;
  padding: 6px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 49px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.button a {
  text-decoration: none;
}

.button_blue {
  background-color: #0c5d74;
  border: 1px solid #0c5d74;
  color: #fff;
}

.button_blue a {
  color: #fff;
}

.button_blue svg {
  fill: #fff;
}

.button_orange {
  background-color: #9e2e00;
  border: 1px solid #9e2e00;
  color: #fff;
}

.button_orange a {
  color: #fff;
}

.button_orange svg {
  fill: #fff;
}

.button_gray {
  background-color: #fff;
  border: 1px solid #2e383f;
  color: #2e383f;
}

.button_gray a {
  color: #2e383f;
}

.button_gray svg {
  fill: #2e383f;
}

.button a {
  font-weight: 400;
}

.button svg {
  font-weight: 400;
}

.button:hover {
  background-color: #0c5e73;
  border: 1px solid #fff;
}

.button:hover a {
  color: #fff;
}

.button:hover svg {
  fill: #fff;
}
