.button {
  font-size: 16px;
  font-weight: 400;
  width: fit-content;
  margin: 15px 5px;
  padding: 6px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 49px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.button_orange {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.button_blue {
  background-color: #15a7ca;
  border: 1px solid #15a7ca;
}

.button_blue a {
  color: var(--color-pure-white);
}

.button_blue svg {
  fill: var(--color-pure-white);
}

.button_orange a {
  color: var(--color-pure-white);
}

.button_orange svg {
  fill: var(--color-pure-white);
}

.button_gray {
  background-color: #fff;
  border: 1px solid #2e383f;
}

.button_gray a {
  color: #2e383f;
}

.button_gray svg {
  fill: #2e383f;
}

.button a {
  font-weight: 400;
}

.button svg {
  font-weight: 400;
}

.button:hover {
  background-color: #15a7ca;
  border: 1px solid #fff;
}

.button:hover a {
  color: var(--color-pure-white);
}

.button:hover svg {
  fill: var(--color-pure-white);
}
