.destination-card {
  /* flex: 1 1 calc(16.66% - 24px); */
  /* max-width: 100%; */
  /* max-width: 160px; */
  display: flex;
  flex-direction: column;
  /* margin: 0 20px 24px 0; */
  position: relative;
  height: 214px;
}

@media (max-width: 403px) {
  .destination-card {
    width: 100%;
    /* margin: 0 0 24px; */
  }
}

a.destination-card {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.destination-card > img {
  height: 214px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.destination-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.destination-card-info {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.destination-card-count {
  font-size: 12px;
  line-height: 16px;
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
}

.destination-card-title {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  position: relative;
  margin-bottom: 16px;
}

.destination-card-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 6px;
  height: 6px;
  background-size: cover;
  background-color: #fe4f70;
  border-radius: 50%;
}
