.carousel-posts-container {
  display: block;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.carousel-posts-list {
  list-style: none;
  user-select: none;
  position: relative;
  width: 298px;
  height: 311px;
}

.carousel-posts-list > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 992px) {
  /* .carousel-posts-container { */
  /*   max-width: 298px; */
  /* } */

  /* .carousel-posts-list > li { */
  /*   margin-left: 10px; */
  /* } */
}

@media (min-width: 992px) {
  .carousel-posts-container {
    max-width: 298px;
  }
}

.carousel-post-thumbnail-inner {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.carousel-post-thumbnail-inner div {
  /* margin: auto; */
  transition: transform 0.3s ease-in-out;
}

.carousel-post-thumbnail-inner div:hover {
  transform: scale(1.1);
}

.carousel-post-details a {
  text-decoration: none;
  outline: 0;
}

.carousel-post-title {
  margin-bottom: 0 !important;
  margin-top: 24px !important;
  color: #203656;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: 20px;
  transition: color 0.2s ease-in-out;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.carousel-post-title:hover {
  color: #fe4f70;
}

.carousel-post-meta {
  font-size: 14px;
  /* color: #8f9bad; */
  color: #595959;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0 !important;
  margin-top: 8px !important;
}

.carousel-post-meta li {
  margin-right: 8px;
  padding-top: 0;
  display: inline-block;
}

.carousel-post-meta li:not(:last-child)::after {
  content: "";
  display: inline-block;
  background-color: #fe4f70;
  border-radius: 50%;
  margin-left: 8px;
  height: 3px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 3px;
}

.carousel-post-meta li a {
  /* color: #8f9bad; */
  color: #595959;
  font-weight: 400;
  box-shadow: none;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.carousel-post-meta li a:hover {
  color: #fe4f70;
}

.carousel-arrows {
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px !important;
}

.carousel-arrows button {
  cursor: pointer;
  font-size: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  border: solid 1px #ebebeb;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 2px;
}

.carousel-arrows button svg {
  vertical-align: middle;
  fill: #909090;
}

.carousel-arrows button:hover {
  border-color: #fe4f70;
}

.carousel-arrows button:hover svg {
  fill: #fe4f70;
}

.two-line-limit {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
