/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --link-color: #5191fa;
  --color-pure-white: #ffffff;
  --color-dark-blue: #3c71ff;
  --color-light-blue: #a5f1e9;
  --color-extralight-blue: #e1ffee;
  --bg-light-gray: #f7f7f7;
  --color-light-orange: #ffeeaf;
  --font-color-primary: #2e383f;
  --font-color-secondary: #3c71ff;
  --color-secondary: #ff7235;
}

.disable-scrolling {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: "smooth";
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--font-color-primary);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

main {
  width: 100%;
}

.page-title {
  text-align: center;
  font-size: large;
}

.site-footer {
  border-top: solid 1px #ebebeb;
  margin-top: 50px;
  padding: 40px;
  text-align: center;
  font-size: 16px;
  color: #595959;
}

a {
  color: #a2011e;
  outline: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #630012;
}
