/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --link-color: #5191fa;
  --color-pure-white: #ffffff;
  --color-dark-blue: #3c71ff;
  --color-light-blue: #a5f1e9;
  --color-extralight-blue: #e1ffee;
  --bg-light-gray: #f7f7f7;
  --color-light-orange: #ffeeaf;
  --font-color-primary: #2e383f;
  --font-color-secondary: #3c71ff;
  --color-secondary: #ff7235;
}

/* load Poppins fonts */
/* @font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-light-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-lightitalic-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-regular-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-italic-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-medium-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-mediumitalic-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-semibold-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-semibolditalic-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-semibolditalic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-bold-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-bolditalic-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-extrabold-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/poppins/poppins-extrabolditalic-webfont.woff2") format("woff2"),
    url("/fonts/poppins/poppins-extrabolditalic-webfont.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
} */

/* load dm-sans fonts */
/* @font-face {
  font-family: "dm sans";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/dmsans/dmsans-regular-webfont.woff2") format("woff2"),
    url("/fonts/dmsans/dmsans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dm sans";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/dmsans/dmsans-italic-webfont.woff2") format("woff2"),
    url("/fonts/dmsans/dmsans-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "dm sans";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/dmsans/dmsans-medium-webfont.woff2") format("woff2"),
    url("/fonts/dmsans/dmsans-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dm sans";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/dmsans/dmsans-mediumitalic-webfont.woff2") format("woff2"),
    url("/fonts/dmsans/dmsans-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "dm sans";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/dmsans/dmsans-bold-webfont.woff2") format("woff2"),
    url("/fonts/dmsans/dmsans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dm sans";
  src: local("Verdana"), local("sans-serif"),
    url("/fonts/dmsans/dmsans-bolditalic-webfont.woff2") format("woff2"),
    url("/fonts/dmsans/dmsans-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
} */

/* other global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: "smooth";
}

body {
  background-color: #fff;
  font-family: "dm sans", "Poppins", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
  color: var(--font-color-primary);
  padding: 0;
  margin: 0;
  scroll-behavior: "smooth";
}

/* .container {
  width: 90%;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
} */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

main {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--color-light-orange);
  overflow: hidden;
}

.page-title {
  text-align: center;
  font-size: large;
}

.site-footer {
  border-top: solid 1px #ebebeb;
  margin-top: 50px;
  padding: 40px;
  text-align: center;
  font-size: 16px;
  color: #8f9bad;
}
.site-footer a {
  text-decoration: none;
  color: #fe4f70;
}

.site-footer a:hover {
  text-decoration: underline;
  color: #203656;
}

a {
  color: #fe4f70;
  outline: 0;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #203656;
}

.logo-two {
  color: #fe4f70;
}

/**
*
*
*
*    to remove
*
*
*
*
*/
/*.lightning {
  filter: hue-rotate(180deg);
} */

/* li {
  padding: 5px 0;
} */

/* li::marker {
  color: var(--color-light-blue);
  color: #2e383f;
}

a,
a:visited {
  color: var(--color-dark-blue);
} */

/* a:hover {
  text-decoration: none;
} */

/* h1,
h2 {
  margin: 0 0 5px 0;
}*/
