.ad_placer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.ad_placer div {
  max-width: 250px;
}
