.hero-slick-slider-post-thumbnail {
  /* max-width: 298px; */
  /* width: 100%; */
  height: 100%;
}

.hero-slick-slider-post-thumbnail-inner {
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
  /* width: 298px; */
}

.hero-slick-slider-post-thumbnail-inner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* width: 100vw; */
  /* height: 200px; */
}

/* .hero-slick-slider-post-thumbnail-inner img:hover {
  transform: scale(1.1);
} */

.hero-slick-slider-post-details a {
  text-decoration: none;
  outline: 0;
}

.hero-slick-slider-post-title {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  color: #fff;
  /* color: red; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
}

.hero-slick-slider-post-title:hover {
  color: #fe4f70;
}

.hero-slick-slider-post-meta {
  font-size: 14px;
  color: #8f9bad;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0 !important;
  margin-top: 8px !important;
}

.hero-slick-slider-post-meta li {
  margin-right: 13px;
  padding-top: 0;
  display: inline-block;
  position: relative;
}

.hero-slick-slider-post-meta li:not(:last-child)::after {
  content: "";
  display: inline-block;
  background-color: #fe4f70;
  border-radius: 50%;
  margin-left: 16px;
  height: 3px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  width: 3px;
}

.hero-slick-slider-post-meta li a {
  color: #8f9bad;
  font-weight: 400;
  box-shadow: none;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.hero-slick-slider-post-meta li a:hover {
  color: #fe4f70;
}
